/* --------------------------------------------------
CSS Document For Leaves v1.0 - Anthonyy @ OSWD.org
-------------------------------------------------- */ /* CONTAINER */
#container {
	width: 90%;
	margin: 0 auto;
	font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
	/* Lucida Grande for the Macs, Tahoma for the PCs */
	font-size: 1em;
	line-height: 1.6em;
	color: #666;
	background-color: #FFF;
}

/* GENERAL MOJO AND MULA */
h1 {
	font-family:"‚l‚r ‚oƒSƒVƒbƒN",Osaka,"ƒqƒ‰ƒMƒmŠpƒS Pro W3",Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 2.4em;
	color: #FFF;
	margin-bottom: 30px;
	background-color: #6BBD19;
}

h2 {
	font-family:"‚l‚r ‚oƒSƒVƒbƒN",Osaka,"ƒqƒ‰ƒMƒmŠpƒS Pro W3",Arial,Helvetica,sans-serif;
	color: #6BBD19;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	border-bottom: solid 3px #6BBD19;
	padding-bottom: 2px;
}

a {
	color: #6BBD19;
	text-decoration: underline;
}

a:hover {
	background-color: #F5F5F5;
}

form {
	float: right;
	margin-top: -45px;
	font-size: 9px;
}

input {
	background-color: #FFF;
	color: #999999;
	border: 1px solid #CCC;
	font-size: 11px;
	padding: 3px;
}

.button {
	padding: 2px;
}

/* HEADER ELEMENTS */
#header {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	clear: both;
	background-color: #6BBD19;
}

/* the slogan */
#header p {
	margin-top: -20px;
	margin-left: 30px;
	color: #DDD;
}

/* NAVIGATION ELEMENTS */
#navigation ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	float: left;
	width: 140px;
}

#navigation a {
	display: block;
	padding: 5px;
	width: 140px;
	border-bottom: 1px solid #CCC;
	font-size: 0.9em;
}

#navigation a:link,#navlist a:visited {
	color: #6BBD19;
	text-decoration: none;
}

#navigation a:hover {
	background-color: #F5F5F5;
	color: #6BBD19;
}

/* THE SMALL BOX BELOW NAV */
#navigation p {
	margin-top: 40px;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
	border-top: 1px dotted #CCC;
}

/* CONTENT ELEMENTS */
#content {
	margin-left: 180px;
	margin-right: 25px;
}

#content p {
	padding-bottom: 10px;
	/* A faint grey line below the text */
}

/* SIDEBAR ELEMENTS */
#sidebar {
	float: right;
	width: 175px;
}

#sidebar p {
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
}

/* FOOTER ELEMENTS */
#footer {
	margin-top: 20px;
	clear: both;
	background-color: #AAA;
	padding: 0px 5px 0px 5px;
}

#footer p {
	color: #FFF;
	padding: 5px;
}

#footer p a {
	color: #FFF;
	border-bottom: 1px dotted #89817f;
}

#footer p a:hover {
	color: #FFF;
	background-color: #575352;
}
/* And they lived happily ever after. The End. */

th {
	background: #eee;
	text-align: center;
	font-weight: bold;
}

pre.code {
	padding: 1em;
	border: solid 1px #999;
	font-size: small;
	background: #eee;
	line-height: 1.4em;
}

div#box{margin: 0;background: #6BBD19}
b.btop, b.btop b, b.bbot, b.bbot b{
    display: block;height: 10px;font-size: 1px;
    background-image:url(rc.png);
    background-repeat: no-repeat}
b.btop b{background-position: 100% -10px}
b.bbot{background-position: 0 -20px}
b.bbot b{background-position: 100% -30px}

img.box-image {
	border: solid 1px #DDD;
	margin: 5px 0px;
}