#banner {
	background-color: #2d9100;
	background-repeat: repeat;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
	border: none;
}

.errors { 
	color: red;
}

.fieldError { 
	background: pink;
}

.highlight {
	background-color: yellow
}

h1 {
	padding: 5px;
	font-size: 16px;
	background: #EFD;
}

h2 {
	font-size: 14px;
	padding-left: 5px;
	border-left: solid 10px #003366;
	border-bottom: solid 1px #003366;
}

#sidebar {
	float: right;
	width: 20%;
}

#main {
	float: left;
	width: 80%;
}

pre {
	padding: 50px;
}