body {
	margin:0px;
	padding:0px;
	background-color: #FFF;
	font-family: "ÉÅÉCÉäÉI","Meiryo","ÉqÉâÉMÉmäpÉS Pro W3","Hiragino Kaku Gothic Pro","ÇlÇr ÇoÉSÉVÉbÉN", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 2.0em;
	color: #ffffff;
	margin-bottom: 0px;
	background-color: #2d9100;
}

h2 {
	font-size:14px;
	border-bottom: 2px solid #777;
	border-left: 12px solid #777;
}

th {
	background-color: #921b00;
	color: #FFF;
}

.odd {
	background: #FFF;
}
.even {
	background: #f8cfc6;
}

a.right-menu {
	float: right;
	text-align: right;
	color: #FFF;
}

.show {
	
}

.true {
	color: green;
	font-weight: bold;
}

.false {
	color: red;
	font-weight: bold;
}

#banner {
	background-color: #2d9100;	
}

#tabs {
	margin-top: 0px;
}

#tabs li {
	display: inline;
	padding: 10px;
	margin: 2px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background-color: #777;
}

#tabs li a {
	color: #FFF;
	text-decoration: none;
}

#tabs li.active {
	background-color: #FFF;
}

#tabs li.active a {
	color: #000;
	font-weight: bold;
}

#main {
	clear: both;
		padding: 10px;
}