<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context    
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<import resource="cubby.xml" />
	<import resource="app-cubby.xml" />

	<context:component-scan base-package="mock.action">
		<context:include-filter type="assignable"
			expression="org.seasar.cubby.action.Action" />
	</context:component-scan>

</beans>