<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">

	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:~/guice-wiki/data</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.tcpServer</param-name>
		<param-value>-tcpAllowOthers</param-value>
	</context-param>

	<context-param>
		<param-name>cubby.guice.module</param-name>
		<param-value>org.seasar.cubby.wiki.ApplicationModule</param-value>
	</context-param>

	<listener>
		<listener-class>org.h2.server.web.DbStarter</listener-class>
	</listener>

	<listener>
		<listener-class>org.seasar.cubby.plugins.guice.servlet.CubbyGuiceListener</listener-class>
	</listener>

	<filter>
		<filter-name>sendErrorFilter</filter-name>
		<filter-class>org.seasar.cubby.filter.SendErrorFilter</filter-class>
        <init-param>
            <param-name>statusCode</param-name>
            <param-value>404</param-value>
        </init-param>
        <!-- 
        <init-param>
            <param-name>ignorePathPattern</param-name>
            <param-value>.*/index.jsp</param-value>
        </init-param>
        -->
	</filter>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.seasar.cubby.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter>
		<filter-name>transactionFilter</filter-name>
		<filter-class>org.seasar.cubby.wiki.filter.TransactionFilter</filter-class>
	</filter>

    <filter>
        <filter-name>cubbyFilter</filter-name>
        <filter-class>org.seasar.cubby.filter.CubbyFilter</filter-class>
        <init-param>
            <param-name>ignorePathPattern</param-name>
            <param-value>/css/.*,/js/.*,/img/.*</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>sendErrorFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>transactionFilter</filter-name>
		<url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
	</filter-mapping>

    <filter-mapping>
        <filter-name>cubbyFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

	<!-- 
    <servlet>
        <servlet-name>cubbyAdminServlet</servlet-name>
        <servlet-class>org.seasar.cubby.admin.servlet.CubbyAdminServlet</servlet-class>
    </servlet>
    -->

<!-- trim white spaces(Tomcat 5.5 or higher)
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>
            org.apache.jasper.servlet.JspServlet
        </servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>trimSpaces</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
-->
	<!-- 
    <servlet-mapping>
        <servlet-name>cubbyAdminServlet</servlet-name>
        <url-pattern>/cubby-admin</url-pattern>
    </servlet-mapping>
	-->

<!-- trim white spaces(Tomcat 5.5 or higher)
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
-->
    <!--
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    -->

    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/common/header.jsp</include-prelude>
            <!-- trim white spaces (JSP 2.1 or higher)
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
            -->
        </jsp-property-group>
    </jsp-config>

</web-app>
