<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
    <ImmediateFlush>true</ImmediateFlush>
    <Target>System.out</Target>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%-5p %d [%t] %m%n</pattern>
    </layout>
  </appender>
  <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d [%t] %-5p %c - %m%n</pattern>
    </layout>
  </appender>
  <logger name="org.seasar.cubby" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="C"/>
  </logger>
  <root>
    <level value="INFO"/>
    <appender-ref ref="A1"/>
  </root>
</configuration>
