body {
	margin: 0;
	padding: 0;
	font-family: "ÉÅÉCÉäÉI","Meiryo","ÉqÉâÉMÉmäpÉS Pro W3","Hiragino Kaku Gothic Pro","ÇlÇr ÇoÉSÉVÉbÉN", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}

#banner {
	background-color: #2d9100;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
	border: none;
	color: #FFF;
}
#banner h1 {
	padding: 0px;
	margin: 0px;
}

h2 {
	padding: 0px 8px 8px 0px;
	margin: 0px;
	border-bottom: solid 2px #99cc33;
}

h3 {
	padding: 10px 0px 0px 10px;
	margin: 0px;
}
.fieldError {
	background-color:pink;
}

#errors {
	color:red;	
}

#menu {
	padding-left: 20px;
	background: #99cc33;
}

#menu ul {
	margin: 0px;
	padding: 0px;
}

#menu ul li {
	display: inline;
	padding-right: 10px;
}

#main {
	padding-left: 10px;
}

#sidebar {
	float: left;
	width: 200px;
}

#sidebar ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 25px;
}

#content {
	padding: 10px;
	margin-top: 20px;
	margin-left: 200px;
	line-height: 15px;
}
.notice {
	color: #2d9100;
	margin: 0px 0px 20px 0px;
	font-size: 20px;
}

a {
	text-decoration: underline;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,h7 a {
	text-decoration: none;
}

a:link {
	color: #3366aa;
}

a:visited {
	color: #4477aa;
}

a:active {
	color: #6699cc;
}

a:hover {
	color: #6699cc;
}

form.editpage input, form.editpage textarea {
	font-size:1.1em;
	width: 95%;
}

.wiki-content-edit input,.wiki-content-edit textarea{
	font-size:1.1em;
	width: 95%;
}

.hidden {
	display: none;
}