/*-------------------------------------------------
COMMON
-------------------------------------------------*/

h1 {
	padding: 5px;
	font-size: 16px;
	background: #003366;
	color: #ffcc33;
}

h2 {
	font-size: 14px;
	padding-left: 5px;
	border-left: solid 10px #003366;
	border-bottom: solid 1px #003366;
}

th {
	background: #DDD;
}
.odd {
	background: #EFE;
}
.even {
	background: #FFF;
}
.errors { 
	color: red;
}
.fieldError { 
	background: pink;
}

.notice {
	font-size: large;
	color: #ffcc33;
	color: #336600;
	margin: 5px;
	padding: 5px;
}

body {
	margin: 5px;
	padding: 5px;
	color: #111111;
	background-color: #FFFFFF;
	position: relative;
	font-family: sans-serif;
	font-size: 14px;
}

/*-------------------------------------------------
HEADER
-------------------------------------------------*/

#header {
	background: #003366;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}

#header h1 {
	background: #003366;
	font-size: 180%;
	padding: 7px 0 10px 30px;
	margin: 0 0 0 0;
	color: #ffcc33;
	text-align: left;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

#header_info {
	margin-top: 4px;
	margin-right: 4px;
	font-size: 90%;
	text-align: right;
	position: relative;
	float: right;
	color:#fff;
}

#header_info a:link,
#header_info a:visited,
#header_info a:hover,
#header_info a:active {
	color:#fff;
}

/*-------------------------------------------------
CONTENT
-------------------------------------------------*/

#content {
	margin: 0 0 10px 0;
	clear: both;
}
